<div class="row">
  <% @products.each do |row| %>
  <div class="col-md-4">
    <div class="title"><h2><%= row['title'] %></h2></div>
    <img src="<%= row['path_to_image'] %>"/>
    <p>Description: <%= row['description'] %></p>
    <p><strong><%= row['price'] %> RUB</strong></p>
    <div class="order_place">
      <button class="btn btn-primary order_button">Add to Cart</button>
    </div>
  </div>
  <% end %>
</div>